
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>Free Easy-Trip Website Template | Contact :: w3layouts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/web/css/slider.css" rel="stylesheet" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
                    .fa {
                        padding: 20px;
                        font-size: 30px;
                        width: 50px;
                        text-align: center;
                        text-decoration: none;
                        margin: 5px 2px;
                    }

                        .fa:hover {
                            opacity: 0.7;
                        }

                    .fa-facebook {
                        background: #3B5998;
                        color: white;
                    }

                    .fa-twitter {
                        background: #55ACEE;
                        color: white;
                    }

                    .fa-google {
                        background: #dd4b39;
                        color: white;
                    }

                    .fa-linkedin {
                        background: #007bb5;
                        color: white;
                    }

                    .fa-youtube {
                        background: #bb0000;
                        color: white;
                    }

                    .fa-instagram {
                        background: #125688;
                        color: white;
                    }
         </style>
</head>
<body>

    <div class="contact">
        <div class="wrap">
            <div class="contact-top">
                <h3>İletişim Bilgileri</h3>
                @*<p> insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nu</p>*@
            </div>
            <div class="contact-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m19!1m12!1m3!1d48665.311013854756!2d36.441338344368724!3d40.329434919942095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m4!3e6!4m0!4m1!2zR2F6aW9zbWFucGHFn2Egw5xuaXZlcnNpdGVzaSwgVGHFn2zEscOnaWZ0bGlrIFllcmxlxZ9rZXNpLCA2MDI1MCBNZXJrZXovVG9rYXQgTWVya2V6L1Rva2F0!5e0!3m2!1str!2str!4v1618862814140!5m2!1str!2str" width="1000" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div class="clear"></div>

            <div class="contact-bottom">

                <div class="contact-left" style="margin-top:25px;">
                    <div class="contact-add" >
                        <h3><b>Adres Bilgileri</b></h3>
                        <p style="font-size:16px;"> Gaziosmanpaşa Üniversitesi, Taşlıçiftlik Yerleşkesi, 60250 Merkez/Tokat Merkez/Tokat</p>
                        <p style="font-size:16px;"><b>Telefon:</b>(0356) 252 16 16</p>                        
                        <p style="font-size:16px;"><b>Email:</b><a href="mailto:signup@gmail.com">gopü@gmail.com</a></p>
                    </div>
                    @*<div class="contact-add">
                        <h3>Address Two</h3>
                        <p>Telephone:1-22-5555</p>
                        <p>Fax:1-22-5555</p>
                        <p>Email:<a href="mailto:signup@gmail.com">signup@mail.com</a></p>
                    </div>*@
                </div>
                @*<div class="contact-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.914079890858!2d-121.92463068472428!3d37.768612779760545!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fedf51c9874ef%3A0xd35a30d37e3e1fcc!2sRashelle%20Way%2C%20San%20Ramon%2C%20CA%2094582%2C%20Amerika%20Birle%C5%9Fik%20Devletleri!5e0!3m2!1str!2str!4v1618846239727!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>*@
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>

        <div class="contact-add" style="margin-left:270px;">
           
               

                <!-- Add font awesome icons -->
                <a href="https://www.facebook.com/toguresmi" class="fa fa-facebook"></a>
                <a href="https://twitter.com/toguresmi" class="fa fa-twitter"></a>
                <a href="https://www.gop.edu.tr/" class="fa fa-google"></a>
                <a href="https://www.youtube.com/channel/UCJ6V0cxHrOMTh8QbfgRVhGg" class="fa fa-youtube"></a>
                <a href="https://www.instagram.com/accounts/login/" class="fa fa-instagram"></a>
                 

        </div>
    </div>
    
</body>
</html>
